/* Created by: Mr. Coxall
* Created on: Sep 2020
* This file contains the CSS for index.html
*/

body {
    background-color: darkslateblue;
}

h1 {
    background-color: rgb(rgb(190, 36, 36), rgb(209, 37, 37)2), rgb(255, 0, 55));
    color: hsl(hue, saturation, lightness);
    padding: 40px;
    text-align: center;
}

p {
    background-color: rgb(214, 252, 0);
}